*{  
    font-size: 20px;  
}
p.hwstyle {

    text-align: center;
    margin-left: 50px;
    color: blue;

  }
h2{
    color: red;
    font-family: sans-serif;
    font-size:20px;
    font-style: italic;
    font-weight:900;
    
    
}
#num{
    color: blueviolet;
    margin: 50px 100px 150px 200px;
    padding-left: 5px;
}
.div{
    padding: 50px 100px 150px 200px;
    text-align: center;
}
.nidhi{  

    background-image: url("css.jpg");
    color: #ffff;

    background-color: #ffff;

    background-repeat: no-repeat;

    background-attachment: fixed;

    background-position: center

}
.number1{
    border-style: double;
    border-width: 2px;
    border-color: red;
    border-radius: 50px;
    z-index: -1;
}
.phone{
    height: 500px;
    width: 37%;
    display: flex;
    position: static/relative/fixed;
}
